@import '../../sass/base/functions';
@import '../../sass/base/colors';
@import '../../sass/base/base';

$cover-size: 8rem;
$large-cover-ratio: 1.8;

@function relative-size($ratio) {
    @return $cover-size * $ratio;
}

.book-cover {
    @extend .drop-shadow;
    height: $cover-size;
    width: relative-size(calc(6/9));
    background-color: black;
    float: right;
    border-radius: relative-size(calc(1/25));
    flex: none;
}

.book-info-container {
    gap: relative-size(calc(1/10));

    &.bg {
        @extend .gray-background;
    }
}

.cover-title-container {
    gap: relative-size(calc(1/10));
}


.author-name {
    @include relative-font-size(.8);
}

.large {
    .author-name {
        @include relative-font-size(1.1);
    }
    .book-title {
        @include relative-font-size(1.3);
    }
    &.book-cover {
        height: $cover-size * $large-cover-ratio;
        width: relative-size(calc(6/9) * $large-cover-ratio);
    }
}

p {
    margin: unset !important;
    padding: unset !important;
}
