@import '../sass/main.scss';

.topnav {
    // background-color: $secondary-color;
    overflow: hidden;
    font-family: $display-bold;
    font-weight: 800;
    border-bottom: 2px $light-gray solid;
    margin-bottom: -3px;
    
    a {
        float: left;
        color: $primary-dark;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border: 3px solid transparent;
    }
    
    a:not(.logo):hover {
        border-bottom: 3px $secondary-color solid;
    }

    .logo {
        color: $secondary-color;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}